* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--background-color);
}

body {
  /* font-family: Montserrat, Manrope; */
  font-size: 1.6rem;
  color: var(--white);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  padding: var(--gutter);
}

a {
  text-decoration: none;
}

.App h1 {
  text-align: left;
  margin-left: calc(var(--column2) + var(--page-padding));
  margin-left: calc(var(--page-padding));
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  max-width: var(--column12);
  margin: var(--gap6) auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap3);
  max-width: var(--column10);
  margin: 2rem auto;
}

input {
  width: var(--column5);
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--text-color);
  text-decoration: none;
  padding: var(--gap1-5);
}

input:focus {
  color: var(--primary-color);
}

svg:hover {
  cursor: pointer;
}

.search-component {
  margin-bottom: 1.6rem;
}

.content {
  max-width: var(--column12);
  margin: auto;
}

.button-primary {
  width: 15rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--text-color);
  text-decoration: none;
  padding: var(--gap1-5);
}

.button-primary:hover {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
}

.remove {
  color: var(--red);
  border: 1px solid var(--red);
}

.remove:hover {
  color: var(--white);
  border: 1px solid var(--red);
  background-color: var(--red);
}

.button-toggle {
  width: 12rem;
  background-color: var(--black);
  margin: var(--gap5) 0;
  border: none;
  padding: var(--gap1-5);
  color: var(--text-color);
}

.button-toggle-selected {
  width: 12rem;
  background-color: var(--black);
  margin: var(--gap5) 0;
  padding: var(--gap1-5);
  border: none;
  border-bottom: 3px solid var(--primary-color);
  color: var(--white);
}

.button-toggle,
.button-toggle-selected:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap2);
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
  font-size: 1.6rem;
}

li span {
  display: block;
  font-size: 1rem;
  color: var(--text-color);
}

.current-location-card {
  width: var(--column10);
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--card-background);
  color: var(--white);
  padding: var(--gap2);
  border: 1px solid var(--card-background);
}

/* .current:hover {
  border: 1px solid var(--primary-color);
  transform: translate(0, -3px);
} */

.card-header {
  display: flex;
  justify-content: space-between;
}

h2.location {
  /* font-size: 1.75rem; */
  font-weight: bold;
  margin-top: 0;
  text-align: left;
  display: inline-block;
}

h2.location span {
  color: var(--text-color);
}

.temperature,
.sky {
  display: inline-block;
  font-size: 2rem;
  color: var(--primary-color);
  margin: var(--gap2) 0;
}

.temperature {
  font-weight: 600;
}

.main-data {
  display: flex;
  justify-content: space-evenly;
}

.grey {
  color: var(--text-color);
  text-align: left;
  margin-left: calc(var(--column) + var(--gutter));
  /* margin-left: calc(var(--column2) + var(--page-padding)); */
  margin-bottom: 0;
}

.favs-section {
  color: var(--text-color);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--gap0-5);
}

.favs {
  margin-top: 0;
  margin-bottom: 0;
  /* color: var(--text-color);
  overflow-y: scroll; */
  /* display: flex;
  flex-direction: column; */
  /* gap: var(--gap); */
}

.hourly-cards-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  overflow-x: scroll;
  /* margin-left: calc(var(--page-padding) + 10.8rem); */
  /* margin-left: calc(var(--page-padding) + var(--column3)); */
}

.hourly-cards-moving {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  overflow-x: scroll;
  /* margin-left: calc(var(--page-padding) + 10.8rem); */
  /* margin-left: calc(var(--page-padding) + var(--column3)); */
}

.hourly-cards-container ul li {
  width: 100%;
}

.hourly-cards-container ul li:nth-of-type(1) {
  border-bottom: 1px solid var(--white);
  padding-bottom: var(--gap);
}

.hourly-card {
  width: var(--column3);
  min-width: 14rem !important;
  margin: var(--gap) auto;
  border-radius: var(--border-radius);
  background-color: var(--card-background);
  color: var(--white);
  padding: var(--gap2);
  border-top: 3px solid var(--primary-color);
  justify-content: left;
}

.hourly-header {
  display: flex;
  justify-content: left;
}

.fixed {
  position: absolute;
  left: var(--page-padding);
  left: 0;
  margin-left: calc(var(--page-padding) + 10.8rem);
  max-width: 10.8rem;
}

.fixed li {
  display: block !important;
}

.rain-info {
  margin: var(--gap5) 0;
}

.green {
  color: var(--primary-color);
}

.margin-top {
  margin-top: var(--gap5);
}

.daily-card-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  overflow-x: scroll;
}

.daily-card {
  display: flex;
  justify-content: left;

  min-width: 13rem;
  /* height: 15rem; */

  border-radius: var(--border-radius);
  background-color: var(--card-background);
  color: var(--white);
  padding: var(--gap2);
  border-top: 3px solid var(--primary-color);
}

.more {
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.3rem;
  text-align: right;
}

.more:hover {
  color: var(--primary-color);
}

.daily li {
  display: block;
}

.back-button-container {
  display: flex;
  justify-content: right;
  margin-bottom: var(--gap3);
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap3);
  max-width: var(--column8);
  margin: auto;
}

.charts:nth-of-type(2) {
  margin-top: 5rem;
}

.search {
  padding: var(--gap4);
  display: flex;
  gap: var(--gap3);
  justify-content: center;
}

.loading {
  color: var(--primary-color);
}

.loading-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: .3rem;
  border-radius: 50px;
  background-color: var(--primary-color);
}

#dot-1 {
  animation: loading-dots-1;
  animation-duration: .7s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

#dot-2 {
  animation: loading-dots-2;
  animation-duration: .7s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

#dot-3 {
  animation: loading-dots-3;
  animation-duration: .7s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes loading-dots-1 {
  0% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  16.5% {
    background-color: var(--primary-color);
    transform: scale(120%);
  }

  33% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  49.5% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  66% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  82.5% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  100% {
    background-color: var(--text-color);
    transform: scale(100%);
  }
}


@keyframes loading-dots-2 {
  0% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  16.5% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  33% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  49.5% {
    background-color: var(--primary-color);
    transform: scale(120%);
  }

  66% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  82.5% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  100% {
    background-color: var(--text-color);
    transform: scale(100%);
  }
}

@keyframes loading-dots-3 {
  0% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  16.5% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  33% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  49.5% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  66% {
    background-color: var(--text-color);
    transform: scale(100%);
  }

  82.5% {
    background-color: var(--primary-color);
    transform: scale(120%);
  }

  100% {
    background-color: var(--text-color);
    transform: scale(100%);
  }
}

.confirmation {
  animation: heart;
  animation-duration: .3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes heart {
  0% {
    transform: scale(100%);
    opacity: 100%;
    /* transform: rotate(-20deg); */
  }

  50% {
    transform: scale(120%);
    opacity: 50%;
    /* transform: rotate(20deg); */
  }

  100% {
    transform: scale(100%);
    opacity: 100%;
    /* transform: rotate(0deg); */
  }
}

@media only screen and (max-width: 500px) {
  .current-location-card {
    width: var(--column12);
    margin: inherit auto;
  }

  h1 {
    text-align: center !important;
    margin: inherit auto;
  }

  h2.location {
    text-align: center !important;
    margin: inherit auto;
  }

  .back-button-container {
    justify-content: center;
  }

  .charts {
    max-width: 100%;
  }
}